.c-mainpage__card{
    width: 400px;
    margin: 0 auto;
    border: 1px solid white;
    font-family: Roboto;
}

.c-mainpage__card-title h1{
    font-size: 32px;

}
.c-mainpage__card-title p{
    font-size: 24px;
    font-style: italic;
    color: #FAFAFA;
}
