.c-mainpage{
    position: relative;
    background-image: url("../ressources/images/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.c-mainpage__top{
    text-align: center;
}

.c-mainpage__top--title{
    display: inline-block;
    font-family: "avenir", sans-serif;
    /*padding-top: 128px;*/
    margin-right: 16px;
    text-align: center;
}

.c-mainpage__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 32px 32px;
}
.c-mainpage__wrapper > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.c-mainpage__wrapper > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.c-mainpage__wrapper > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

@media (max-width: 768px) {

    .c-mainpage__top--title{
        padding-top: 72px;
    }

    .c-mainpage__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .c-mainpage__wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 32px 32px;
    }
    .c-mainpage__wrapper > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .c-mainpage__wrapper > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .c-mainpage__wrapper > *:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}
